body{
    margin: 20px;
    padding: 0;
}
main{
    margin: 0 20px;
    padding: 0;
}
.section-ttl{
    width: 300px;
    border-bottom: 3px solid #311ff7;
    padding: 5px 0;
}
.hed-link{
    text-decoration: none;
    margin-left: 10px;
    color: #817e7e;
}

/* 新規依頼投稿 */
.form-note{
    font-size: 12px;
    margin-left: 5px;
    color: red;
}

/* 仕事一覧 */
.work-card{
    width: 80%;
    border-style: solid;
    border-width: 1px;
    background-color: #f6f6f9;
    border-color: #AAAAFF #6666FF #4444FF #CCCCFF;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

/* いいねボタン */
.nicebtn-button{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
}
.nicebtn{
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid #5d5b5b;
    color: #5d5b5b;
    border-radius: 5px;
    padding: 5px;
    background-color: #f6f6f9;
    font-size: 15px;
}
.nice{
    border: none;
    background-color: #f6f6f9;
    font-size: 15px;
    color: #5d5b5b;
}
.nicebtn.active{
    border: 1px solid #000;
    color: #000;
}
.nicebtn.active span{
    color: yellow;
}