body{
    margin: 0;
    padding: 0;
}
main{
    margin: 0 20px;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.ma-0{
    margin: 0;
}
.ma-0-aut{
    margin: 0 auto;
}
.section-ttl{
    width: 300px;
    border-bottom: 3px solid #311ff7;
    padding: 5px 0;
}
.hed-link{
    text-decoration: none;
    margin-left: 10px;
    color: #817e7e;
}
.hed-logout-button{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
}
.hed-logout{
    border: none;
    background-color: #fff;
    color: #817e7e;
}
.fz18{
    font-size: 18px;
}


/* 新規依頼投稿 */
.form-note{
    font-size: 12px;
    margin-left: 5px;
    color: red;
}

/* 一覧ページ */
.category{
    margin-top: 0;
    padding-left: 7px;
    border-left: 4px solid #005dc5;
    margin-bottom: 10px;
}
.all-category{
    padding-left: 12px;
    margin-top: 6px;
    font-weight: bold; 
}
.sub-category{
    padding-left: 18px;
    margin-top: 6px;
    font-size: 14px;
    color: #565454;
}

/* 仕事一覧 */
.work-card{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #d2d2d5;
    padding: 20px;
    position: relative;
}
.work-card:hover{
    background-color: #dde3fa;
}
.work-card .work-card-link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.work-card-2{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #d2d2d5;
    padding: 10px;
    position: relative;
}

.work-status{
    background-color: #298cf5;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 70px;
}
.work-content{
    margin-left: 10px;
}
.work-ttl-box{
    padding: 10px 0;
    color: #040b89;
    width: 600px;
}
.work-ttl-box-2{
    padding: 5px 0;
    color: #040b89;
    width: 600px;
}
.work-ttl{
    margin-bottom: 0;
    overflow-wrap: normal;
}
.pro{
    background-color: #f6ebf3;
    border-radius: 3px;
    color: #fb0255;
    padding: 5px;
    font-size: 10px;
    height: 25px;
    vertical-align: middle;
    font-weight: bold;
}
.reward{
    margin-left: 10px;
    vertical-align: middle;
    font-size: 20px;
    color: #a20101fd;
    font-weight: bold;
    padding: 0;
}
.fwb{
    font-weight: bold;
}
.proposal-num{
    font-size: 25px;
    font-weight: bold;
    color: #311ff7;
    padding: 3px;
}
.client-box{
    position: absolute;
    right: 20px;
    bottom: 0px;
    color: #817e7e;
}

/* 仕事詳細 */
.show-tb{
    margin-left: 30px;
    margin-top: 20px;
}
.work-table td{
    border: 1px solid #c3c3c3;
    text-align: center;
    padding: 15px;
    width: 150px;
}
.work-table-tr{
    height: 30px;
    width: 640px;
    background-color: #dcdcdc;
}
.work-table-tr td:first-child{
    border-radius: 5px 0 0 0;
}
.work-table-tr td:last-child{
    border-radius: 0 5px 0 0;
}
.pro-2{
    background-color: #f6ebf3;
    border-radius: 3px;
    color: #fb0255;
    padding: 5px;
    font-size: 10px;
    height: 25px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}
.fc-red{
    color: #a20101fd;
}
.fc-gray{
    color: #848484;
}
.show-ttl{
    border-bottom: 1px solid #bdbdbd;
    padding: 5px 0;
    padding-bottom: 8px;
    margin-bottom: 10px;
    width: 90%;
}
.showcontent-table{
    margin-left: 30px;
    margin-top: 50px;
}
.showcontent-table th{
    width: 150px;
    vertical-align: top;
    font-weight: bold;
    font-size: 16px;
}
.showcontent-table td{
    padding-bottom: 40px;
    padding-top: 5px;
    width: 600px;
}
.showcontent-table tr{
    border-bottom: 1px dotted #696969;
}
.proposal-btn{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.proposal-btn-box{
    text-align: center;
}

.client-ttl{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
.client-img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}
.client-img-box{
    text-align: center;
}
.showclient-box{
    border: 1px solid #c0c0c0;
    padding: 20px 0;
}
.client-name{
    text-align: center;
    margin: 5px 0;
}
.client-confirm-box{
    margin-top: 20px;
}
.check-img{
    width: 30px;
    height: auto;
    margin-left: 30px;
}
.check-img-black{
    width: 25px;
    height: auto;
    margin-left: 32px;
}

.message-box{
    border: 1px solid #c0c0c0;
    border-top: none;
    text-align: center;
}
.message{
    padding: 10px;
    margin: 0;
    color: #000d84;
}

/* 提案一覧 */
.home-link {
    text-decoration: none;
    color: #000;
}

.home-list li{
    width: 90%;
    color: #404040;
    border-left: solid 6px #3d52f4;/*左側の線*/
    border-bottom: solid 2px #dadada;/*下に灰色線*/
    background: whitesmoke;
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    font-weight: bold;
    font-size: 25px;
    margin: 25px 0;
    padding-left: 40px;
}
.home-list li:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f138";/*アイコンの種類*/
    position: absolute;
    left : 3.3em;/*左端からのアイコンまでの距離*/
    color: rgb(177, 179, 182);/*アイコン色*/
}

/* 受付中の提案一覧 */
.reception-date{
    font-weight: bold;
    color: #311ff7;
    padding: 3px;
    font-size: 20px;
    margin-top: 10px;
}
.prpposer-img{
    width: 85px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}
.prpposer-img-box{
    text-align: center;
}
.decision-btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
}



/* いいねボタン */
.nicebtn-button{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
}
.nicebtn{
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid #5d5b5b;
    color: #5d5b5b;
    border-radius: 5px;
    padding: 5px;
    background-color: #f7f5f5;
    font-size: 15px;
}
.nice{
    border: none;
    background-color: #f7f5f5;
    font-size: 15px;
    color: #5d5b5b;
}
.nicebtn.active{
    border: 1px solid #000;
    color: #000;
}
.nicebtn.active span{
    color: yellow;
}
.unnicebtn-unlogin{
    text-decoration: none;
    color: #000;
}